@import "furtive-print";
@import "furtive-code";
@import "furtive-links";
@import "furtive-typescale";
@import "furtive-responsive-utils";

html {
  font-size: 18px;
  max-width: 100%;
}

body {
  color: #444;
  font-family: 'Merriweather', Georgia, serif;
  margin: 0;
  max-width: 100%;
}
